.btn {
	display: block;
	font-family: 'azbuka';
	&__big {
		border: 2px solid white;
		font-size: 38px;
		padding: 20px 50px;
		display: inline-block;
		text-transform: uppercase;
		line-height: 1;
		text-decoration: none;
		transition: 0.2s all;
		cursor: pointer;
		&:hover {
			color: @link-blue;
			border: 2px solid @link-blue;
		}
	}
	&__search {
		font-size: 33px;
		border-top: none;
		margin-left: 115px; 
		transition: 0.2s all;
		cursor: pointer;
		&:hover {
			color: @link-blue;
		}

	}
	&__news {
		text-decoration: none;
		display: inline-block;
		border: 2px solid @blue;
		text-transform: uppercase;
		padding: 15px 65px;
		color: @blue;
		transition: 0.2s all;
		font-size: 22px;
		&:hover {
			color: @red;
			border: 2px solid @red;
		}
	}
	&__more {
		margin-top: 60px;
		margin: 0 auto;
		display: inline-block;
		border: 2px dotted #6b6b6b;
		text-decoration: none;
		padding: 15px 30px;
		color: #6b6b6b;
		font-size: 22px;
		line-height: 1;
		text-transform: uppercase;
		transition: 0.2s all;
		&:hover {
			color: @blue;
			border: 2px dotted @blue;
		}
		
	}
	&__center {
		&-wrap {
			text-align: center;
		}
		
	}
	&__search-news {
		border: none;
		background: none;
		min-width: 47px;
		font-size: 33px;
		transition: 0.2s all;
		cursor: pointer;
		outline: none;
		position: absolute;
		top: 2px;
		right: 0;
		z-index: 2;
		&:hover {
			color: @red;
		}
	}
	&__form {
		background: @blue;
		color: white;
		outline: none;
		font-size: 24px;
		padding: 15px 80px;
		border-radius: 5px;
		position: absolute;
		right: 0;
		bottom: 0;
		text-transform: uppercase;
		transition: 0.2s all;
		cursor: pointer;
		&:hover {
			background: @red;
		}
	}
}

@media (max-width: 1510px) {
	.btn {
		&__big {
			padding: 10px 40px;
		}
	}
}
@media (max-width: 1230px) {
	.btn {
		&__big {
			font-size: 33px;
		}
	}
}
@media (max-width: 1023px) {
	.btn {
		&__big {
			font-size: 26px;
		}
		
		&__search {
			margin-left: 30px; 
		}
	}
}

@media (max-width: 767px) {
	.btn {
		&__big {
			text-align: center;
		}
		
		&__search {
			display: none;
		}
		&__news {
			display: none;
		}
	}
}
@media (max-width: 400px) {
	.btn {
		&__big {
			font-size: 18px;
		}
		
		
	}
}





