.managers {
	
	font-family: azbuka;
	
	line-height: 1.2;
	.clearfix;

	&__item {
		text-align: center;
		margin-bottom: 130px;
		color: #4d4d4d;
	}
	&__position {
		font-size: 35px;
		margin-bottom: 65px;

	}
	&__name1 {
		font-size: 60px;
	}
	&__name2 {
		font-size: 72px;
		text-transform: uppercase;
		margin-bottom: 85px;
	}
	&__contact {
		font-size: 28px;
		line-height: 2;
		&_first {
			margin-bottom: 20px;
		}
	}
}
@media (max-width: 1025px) {
	.managers {
		&__item {
			margin-bottom: 70px;
		}
		&__position {
			font-size: 30px;
			margin-bottom: 45px;

		}
		&__name1 {
			font-size: 40px;
		}
		&__name2 {
			font-size: 52px;
			margin-bottom: 35px;
		}
		&__contact {
			font-size: 24px;
			&_first {
				margin-bottom: 20px;
			}
		}
	}
}
@media (max-width: 600px) {
	.managers {
		&__item {
			margin-bottom: 40px;
		}
		&__position {
			font-size: 20px;
			margin-bottom: 15px;

		}
		&__name1 {
			font-size: 30px;
		}
		&__name2 {
			font-size: 42px;
			margin-bottom: 15px;
		}
		&__contact {
			font-size: 18px;
			&_first {
				margin-bottom: 20px;
			}
		}
	}
}
@media (max-width: 450px) {
	.managers {
		&__name1 {
			font-size: 24px;
			font-weight: 700;
		}
		&__name2 {
			font-size: 28px;
			font-weight: 700;
		}
	}
}