.offices {
	font-family: azbuka;
	line-height: 1.2;
	&__item {
		text-align: center;
		margin-bottom: 130px;
		color: #4d4d4d;
	}
	&__name {
		font-size: 42px;
		margin-bottom: 55px;
		// font-weight: 700;
	}
	
	&__tell {
		font-size: 66px;
		line-height: 1.2;
		margin-bottom: 15px;
		span {
			white-space: nowrap;
		}		
	}
	&__email {
		font-size: 36px;
		line-height: 1.2;
		margin-bottom: 20px;
	}
	&__adres {
		font-size: 30px;
		line-height: 1.2;
		color: #818181;

		span {
			white-space: nowrap;
		}
	}
	&__press {
		color: #4d4d4d;
		font-size: 42px;
		margin-top: 45px;
	}
}
@media (max-width: 1025px) {
	.offices {
		&__item {
			margin-bottom: 70px;
		}
		&__name {
			font-size: 32px;
			margin-bottom: 45px;
		}

		&__tell {
			font-size: 40px;
			margin-bottom: 15px;
		}
		&__email {
			font-size: 26px;
			margin-bottom: 20px;
		}
		&__adres {
			font-size: 20px;
		}
		&__press {
			font-size: 32px;
			margin-top: 35px;
		}
	}
}
@media (max-width: 600px) {
	.offices {
		&__item {
			margin-bottom: 50px;
		}
		&__name {
			font-size: 22px;
			margin-bottom: 45px;
		}

		&__tell {
			font-size: 30px;
			margin-bottom: 15px;
		}
		&__email {
			font-size: 18px;
			margin-bottom: 20px;
		}
		&__adres {
			font-size: 18px;
		}
		&__press {
			font-size: 22px;
			margin-top: 35px;
		}
	}
}
@media (max-width: 450px) {
	.offices {
		&__name {
			margin-bottom: 15px;
			font-weight: 700;
			
		}
		&__tell {
			font-size: 24px;
			font-weight: 700;
		}
	}
}