.top-menu {
	height: 60px;
	position: absolute;
	z-index: 100;
	padding-left: 295px;
	color: white;
	font-size: 20px;
	min-height: 60px;
	top: 155px;
	&__menu-btn {
		display: none;
	}
	&__list {
		display: flex;
	}
	&__item, .menu-item {
		position: relative;
		display: block;
		transition: 0.2s all;
		a {
			color: white;
			text-decoration: none;
			display: block;
			padding: 0 47px 0 20px;
			cursor: pointer;
			text-transform: uppercase;
			white-space: nowrap;
			height: 60px;
			line-height: 60px;
			
			&:after {
				content: "\F140";
				font-family: "Material Design Icons";
				transition: 0.2s all;
				display: inline-block;
				margin-left: 3px;

			}
		}
		&:hover {
			background: rgba(26, 36, 60, 0.9);
			.top-menu__sublist, .sub-menu {
				display: block;
			}
			& > a {
				&:after {
					transform: rotate(180deg);
					
				}
			}
		}
		&:last-child {
			.top-menu__sublist, .sub-menu {
				left: auto;
				right: 0;
			}
		}
	}
	&__sublist, .sub-menu {
		display: none;
		min-width: 285px;
		padding-top: 10px;
		padding-bottom: 15px;
		position: absolute;
		top: 100%;
		left: 0;
		background: rgba(26, 36, 60, 0.9);
		animation: vizible  .3s;
		
	}
	&__subitem, .sub-menu > .menu-item {
		&:hover {
			background: none;
		}
		a {
			color: white;
			text-decoration: none;
			display: block;
			padding: 13px 20px;
			cursor: pointer;
			text-transform: uppercase;
			line-height: 1.2;
			white-space: normal;
			height: auto;
			&:after {
				content: '';
			}
			&:hover {
				color: @link-blue;
				background: none !important;
			}

		}
	}
}



@media (max-width: 1620px) {
	.top-menu {
		padding-left: 120px
	}

}
@media (max-width: 1465px) {
	.top-menu {
		    padding-left: 50px;
		&__item, .menu-item {
			& > a {
				padding: 0 20px 0 20px;
				
			}
		}
	}
}
@media (max-width: 1200px) {
	.top-menu {
		&__item, .menu-item  {
			& > a {
				font-size: 16px;
			}
			a {
				font-size: 16px;
			}
		}
	}
}
@media (max-width: 1025px) {
	.top-menu {
		
		&__menu-btn {
			display: block;
			position: fixed;
			top: 15px;
			right: 15px;
			font-size: 30px;
			cursor: pointer;
			transform: all 0.2s;
			z-index: 10;
			i {
				color: white;
				transform: all 0.2s;
				&:hover {
					color: @link-blue;
				}
			}
		}
		&__list {
			display: none;
			padding-bottom: 20px;
			.top-menu__item, .menu-item  {
				& > a {
					padding: 5px 20px 5px 30px;
					border-bottom: 1px solid #424b5f;
					border-top: 1px solid #424b5f;
					line-height: 40px;
					height: 40px;
					&:after {
						display: none;
					}
				}
			}
			&.active {
				min-width: 360px;
				max-height: 100vh;
				overflow: auto;
				display: block;
				position: fixed;
				top:0;
				right: 0;
				background: rgba(26, 36, 60, 0.9);
//				padding-top: 50px;
				z-index: 5;
				animation: vizible  .3s;
				
				.top-menu__item, .menu-item  {
					&:hover {
						display: block;
						background: none;
						animation: none;
					}
				}
				.top-menu__sublist, .sub-menu {
					display: block;
					position: relative;
					background: none;
					padding-bottom: 10px;
					.top-menu__subitem,  .menu-item {
						a {
							padding-left: 50px;	
							font-size: 14px;
							padding-top: 11px;
							padding-bottom: 11px;
							border: none;
						}
						
					}

				}
			}
		}
	}

}
@media (max-width: 460px) {
	.top-menu {
		&__list {
			&.active {
				min-width: 100%;
			}
		}
	}
}
