.top-menu {
	height: 60px;
	position: absolute;
	z-index: 100;
	padding-left: 295px;
	color: white;
	font-size: 20px;
	min-height: 60px;
	top: 155px;
	&__list {
		display: flex;
	}
	&__item {
		position: relative;
		display: block;
		transition: 0.2s all;
		a {
			color: white;
			text-decoration: none;
			display: block;
			padding: 0 47px 0 20px;
			cursor: pointer;
			text-transform: uppercase;
			white-space: nowrap;
			height: 60px;
			line-height: 60px;
			
			&:after {
				content: "\F140";
				font-family: "Material Design Icons";
				transition: 0.2s all;
				display: inline-block;
				margin-left: 3px;

			}
		}
		&:hover {
			background: rgba(26, 36, 60, 0.9);
			.top-menu__sublist {
				min-width: 285px;
				display: block;
				padding-top: 10px;
				position: absolute;
				top: 100%;
				left: 0;
				background: rgba(26, 36, 60, 0.9);
				animation: vizible  .3s;
			}
			& > a {
				&:after {
					transform: rotate(180deg);
					
				}
			}
		}
		&:last-child {
			.top-menu__sublist {
				left: auto;
				right: 0;
			}
		}
	}
	&__sublist {
		display: none;
	}
	&__subitem {
		a {
			color: white;
			text-decoration: none;
			display: block;
			padding: 13px 20px;
			cursor: pointer;
			text-transform: uppercase;
			line-height: 1.2;
			white-space: normal;
			height: auto;
			&:after {
				content: '';
			}
			&:hover {
				color: @link-blue;
			}

		}
	}
}
@media (max-width: 1620px) {
	.top-menu {
		padding-left: 120px
	}

}
@media (max-width: 1465px) {
	.top-menu {
		    padding-left: 50px;
		&__item {
			& > a {
				padding: 0 20px 0 20px;
				
			}
		}
	}
}
@media (max-width: 1200px) {
	.top-menu {
		&__item {
			& > a {
				font-size: 16px;
			}
			a {
				font-size: 16px;
			}
		}
	}
}
@media (max-width: 1025px) {
	.top-menu {
		display: none;
	}
}
